<div id="sectionTwo" align="center"> 	
		<div class="container">	
			<div class="row">
				<div class="span12">
				
				<div class="row">
				<div class="span12 well well-small">
					<h4> USA References</h4>
				</div>

				<!-- ========================= -->

				<div class="span12">
					<div class="tabbable tabs">
					  <div class="tab-content label-primary">
						<div class="tab-pane active" id="all">
							<ul class="thumbnails">
								<li class="span3">
									<div class="thumbnail">
										<div class="blockDtl">
											<h4><a href="http://www.whitehouse.gov/" target="_Blank"><img src="Content/images/portfolio/Whitehouse.jpg" alt="bootstrap business templates"/></a> &nbsp; White House</h4>
											<p>The White House</p>
											<a href="http://www.whitehouse.gov/" target="_Blank" class="btn"><small>Go to the Site</small></a>
										</div>
									</div>
								</li>
								<li class="span3">
									<div class="thumbnail">
										<div class="blockDtl">
											<h4><a href="http://www.uscis.gov/" target="_Blank"><img src="Content/images/portfolio/USCIS.jpg" alt="bootstrap business templates"/></a> &nbsp; USCIS</h4>
											<p>US Citizenship and forms</p>
											<a href="http://www.uscis.gov/" target="_Blank" class="btn"><small>Go to the Site</small></a>
										</div>
									</div>
								</li>
								<li class="span3">
									<div class="thumbnail">
										<div class="blockDtl">
											<h4><a href="http://travel.state.gov/content/passports/english.html" target="_Blank"><img src="Content/images/portfolio/USP.jpg" alt="bootstrap business templates"/></a> &nbsp; US Passport</h4>
											<p>US Passports and International Travel</p>
											<a href="http://travel.state.gov/content/passports/english.html" target="_Blank" class="btn"><small>Go to the Site</small></a>
										</div>
									</div>
								</li>
								<li class="span3">
									<div class="thumbnail">
										<div class="blockDtl">
											<h4><a href="http://www.irs.gov/" target="_Blank"><img src="Content/images/portfolio/IRS.jpg" alt="bootstrap business templates"/></a> &nbsp; IRS</h4>
											<p>Internal Revenue Service</p>
											<a href="http://www.irs.gov/" target="_Blank" class="btn"><small>Go to the Site</small></a>
										</div>
									</div>
								</li>
								<li class="span3">
									<div class="thumbnail">
										<div class="blockDtl">
											<h4><a href="http://www.senate.gov/" target="_Blank"><img src="Content/images/portfolio/USS.jpg" alt="bootstrap business templates"/></a></h4>
											<p>U.S. Senate</p>
											<a href="http://www.senate.gov/" target="_Blank" class="btn"><small>Go to the Site</small></a>
										</div>
									</div>
								</li>
								<li class="span3">
									<div class="thumbnail">
										<div class="blockDtl">
											<h4><a href="http://www.house.gov/" target="_Blank"><img src="Content/images/portfolio/USH.jpg" alt="bootstrap business templates"/></a></h4>
											<p>U.S. House of Representatives</p>
											<a href="http://www.house.gov/" target="_Blank" class="btn"><small>Go to the Site</small></a>
										</div>
									</div>
								</li>
								<li class="span3">
									<div class="thumbnail">
										<div class="blockDtl">
											<h4><a href="http://www.revenue.pa.gov/Pages/default.aspx#.VIIg1jHF-So" target="_Blank"><img src="Content/images/portfolio/PA.jpg" alt="bootstrap business templates"/></a></h4>
											<p>State Tax(PA) - Department of Revenue</p>
											<a href="http://www.revenue.pa.gov/Pages/default.aspx#.VIIg1jHF-So" target="_Blank" class="btn"><small>Go to the Site</small></a>
										</div>
									</div>
								</li>
								
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="span12 well well-small">
					<h4> India References</h4>
				</div>
			<div class="span12">
					<div class="tabbable tabs">
					  <div class="tab-content label-primary">
						<div class="tab-pane active" id="all">
							<ul class="thumbnails">
								<li class="span3">
									<div class="thumbnail">
										<div class="blockDtl">
											<h4><a href="http://www.indiacgny.org/" target="_Blank"><img src="Content/images/portfolio/IndianVisa.jpg" alt="bootstrap business templates"/></a> </h4>
											<p>India Visa Information</p>
											<a href="http://www.indiacgny.org/" target="_Blank" class="btn"><small>Go to the Site</small></a>
										</div>
									</div>
								</li>
								<li class="span3">
									<div class="thumbnail">
										<div class="blockDtl">
											<h4><a href="http://www.tourindia.com/htm/homepage.htm" target="_Blank"><img src="Content/images/portfolio/IndiaTour.jpg" alt="bootstrap business templates"/></a> &nbsp; India Travel</h4>
											<p>US Citizenship and forms</p>
											<a href="http://www.tourindia.com/htm/homepage.htm" target="_Blank" class="btn"><small>Go to the Site</small></a>
										</div>
									</div>
								</li>
								<li class="span3">
									<div class="thumbnail">
										<div class="blockDtl">
											<h4><a href="http://travel.state.gov/content/passports/english.html" target="_Blank"><img src="Content/images/portfolio/USP.jpg" alt="bootstrap business templates"/></a> &nbsp; US Passport</h4>
											<p>US Passports and International Travel</p>
											<a href="http://travel.state.gov/content/passports/english.html" target="_Blank" class="btn"><small>Go to the Site</small></a>
										</div>
									</div>
								</li>
								<li class="span3">
									<div class="thumbnail">
										<div class="blockDtl">
											<h4><a href="http://india.gov.in/" target="_Blank"><img src="Content/images/portfolio/IG.jpg" alt="bootstrap business templates"/></a></h4>
											<p>Govt. of India</p>
											<a href="http://india.gov.in/" target="_Blank" class="btn"><small>Go to the Site</small></a>
										</div>
									</div>
								</li>
								
								
							</ul>
						</div>
					</div>
				</div>
		</div>
	</div>