<div class="span8">
			<div class="thumbnail">
<form name="RegistrationForm" class="form-horizontal" novalidate>
	<fieldset>
		<legend>Registration</legend>
		<div class="form-group">
			<label for="firstName" class="span3 control-label">FirstName*</label>

			<div class="span4"><input id="firstName" class="form-control" type="text" placeholder="First Name (required)" required/></div>
		</div>
		<div class="form-group">
			<label for="lastName" class="span3 control-label">LastName*</label>
			<div class="span4"><input id="lastName (required)" class="form-control" type="text" placeholder="Last Name" required/></div>
		</div>
		<div class="form-group">
			<label for="Email" class="span3 control-label">Email*</label>
			<div class="span4"><input id="Email" class="form-control" type="email" placeholder="AIACPA@gmail.com (required)" required/></div>
		</div>
		<div class="form-group">
			<label for="StreetAddress" class="span3 control-label">Street Address</label>
			<div class="span4"><input id="StreetAddress" class="form-control" type="text" placeholder="StreetAddress" /></div>
		</div>
		<div class="form-group">
			<label for="City" class="span3 control-label">City</label>
			<div class="span4"><input id="City" class="form-control" type="text" placeholder="City" /></div>
		</div>
		<div class="form-group">
			<label for="State" class="span3 control-label">State</label>
			<div class="span4"><input id="State" class="form-control" type="text" placeholder="State" /></div>
		</div>
		<div class="form-group">
			<label for="Zip" class="span3 control-label">Zip</label>
			<div class="span4"><input id="Zip" class="form-control" type="text" ui-mask="99999" ng-model="Zip" /></div>
		</div>
		<div class="form-group">
			<label for="HomePhone" class="span3 control-label">Home Phone*</label>
			<div class="span4"><input id="HomePhone" class="form-control" type="text" ui-mask="(999)-999-9999 (required)" ng-model="HomePhone" required/></div>
		</div>
		<div class="form-group">
			<label for="CellPhone" class="span3 control-label">Cell Phone</label>
			<div class="span4"><input id="CellPhone" class="form-control" type="text" ui-mask="(999)-999-9999" ng-model="CellPhone" /></div>
		</div>
	</fieldset>
</form>
</div>
</div>